<!DOCTYPE html>
<html lang="es">
<head>
	<title>Crear una nueva VM</title>
    <meta charset="utf-8">
    <script>
        function myFunction() {
            fetch('http://192.168.0.16:3001/createVirtualM')
            .then(response => response.text())
            .then((response) => {
                console.log(response)
                document.getElementById("demo").innerHTML = response;
            })
            .catch(err => console.log(err));
          
        }
    </script>
    <link rel="stylesheet" href="estilos.css">
</head>
    <body>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="index2.html">Reportar falla</a> </li>
            <li><a href="state.html">Estado servidores</a> </li>
        </ul>
        <h1>Crear una nueva MV</h1>
        <p>Este proceso puede tardar algun tiempo</p>
        <p id="demo" for="boton">Click en el boton para ver la nueva ip</p>
        <button id="boton"type="button" onclick="myFunction()">Crear maquina virtual</button>
    </body>
</html>
