<!--
    h2 Agregue una imagen al servidor
div
    form(action="/subir", method="POST", enctype="multipart/form-data")
        label Imagen
        input(type="file", name="file")
        input(type="submit", value="Enviar")
        br
        a(href='descargar') DESCARGAR
-->
<!DOCTYPE html>
<html lang="es">
<head>
	<title>Lab2 Santiago Sosa Reyes</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="estilos.css">
</head>
    <body> 
        <ul>
            <li><a href="index2.html">Reportar Falla</a></li>
            <li><a href="state.html">Estado servidores</a></li>
            <li><a href="createNewVM.html">Create VM</a></li>
        </ul>
        <h1>Frase famosa</h1>
        <p>Agregue una imagen a la cual quiere escribirle alguna frase aleatoria..</p>
        <form action="/subir" method="POST" enctype="multipart/form-data">
            <label for="file"> Archivo(Imagen) </label>
            <input type="file" name="file" id="file"> <br>
            <input type="submit" value="Enviar Imagen"><br>
            <a href="descargar">Descargar imagen</a> 
        </form>
    </body> 
</html>