h2 Envio de imagenes
div
    <form action="/subir", method="POST", enctype="multipart/form-data">
        label Imagen
        input(type="file", name="file")
        input(type="submit", value="Enviar")
    </form>
    a(href="descargar") DESCARGAR

