<html>
	<head>
		<title>Ocurrio un error</title>
	</head>
	<body>
		<p>Al menos un servidor ha fallado, Ingrese un correo electronico para enviar una alerta</p>
		<form action="/enviarCorreo" method="GET">
			<input type="text" name="correo">
			<input type="submit" value="Enviar Correo">
		</form>
	</body>
</html>