h2 Agregar Ficheros al SERVER
div
    form(action="/subir", method="POST", enctype="multipart/form-data")
        label Imagen
        input(type="file", name="imagen")
        input(type="submit", value="Enviar")
        a(href='descargar')