<!--
<html>
	<head>
		<title>Ocurrio un error</title>
	</head>
	<body>
		<p>Al menos un servidor ha fallado, Ingrese un correo electronico para enviar una alerta</p>
		<form action="/enviarCorreo" method="GET">
			<input type="text" name="correo">
			<input type="submit" value="Enviar Correo">
		</form>
	</body>
</html>
-->

<!DOCTYPE html>
<html lang="es">
<head>
	<title>Enviar Alerta</title>
    <meta charset="utf-8">
	<link rel="stylesheet" href="estilos.css">
</head>
    <body> 
		<ul>
			<li><a href="index.html">Inicio</a></li>
        	<li><a href="state.html">estado servidores</a> </li>
		</ul>
        <h1>Envie alerta </h1>
        <p>Ingrese un correo al cual quiere generar una alerta de fallo de algun servidor.</p>
        <form action="/enviarCorreo" method="GET">
            <label for="email">Email</label>
            <input type="email" name="correo" id="email" placeholder="ejemplo@email.com" required>
            <input type="submit" value="Enviar Correo">
        </form>
    </body> 
</html>
